/* ---------------- BACKGROUND */
$color__background-body : hsl(212, 66%, 53%);
$color__background-main : hsl(157, 64%, 79%);
$color__background-cours : hsl(156, 40%, 83%);
$color__background-header : hsl(184, 48%, 43%);
$color__background-barre : hsl(202, 100%, 76%);
$color__background-footer : hsl(184, 48%, 43%);
$color__background-link : hsl(219, 100%, 82%);
$color__background-link-hover : hsl(212, 54%, 67%);

/* ---------------- LIENS */
$color__link : hsl(18, 27%, 38%);
$color__link-hover : hsl(0, 0%, 100%);
$color__link-visited : hsl(19, 29%, 28%);

/* ---------------- FONT */
$color__font-header : rgb(250, 146, 146);
$color__font-main :rgb(68, 57, 54);
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : rgb(255, 202, 188);