.site__footer {
    font-family: $font__titre;
    background-color: $color__background-footer;
    padding: 15px;
    &__menu{

      &__ul{
          display:flex;
          list-style-type: none;
          justify-content: center;
          .menu-item {
              margin:10px 5px;
            a{
              display: flex;
              align-items: center;
              padding: 3px;
              svg{ color: chartreuse;}
             
            }
          }
      }
    }
  }
.footer__titre,
.footer__presentation,
.footer__author {
  color: $color__font-footer;
  text-align: center;
}

.menu-simple-container{
  display: grid;
  grid-template-columns: ($size__site-barre) auto;
  grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
}